# circut-python interpreter for python 
Adafruit-Blinka
# AHT20 sensor library
adafruit-circuitpython-ahtx0
# adxl34 sensor library
adafruit-circuitpython-adxl34x
# neopixel library
adafruit-circuitpython-neopixel