# livestreaming library
python-ffmpeg-video-streaming

# mini server
flask

# for camera
opencv-python

# for api stuff
requests

# GUI
Pillow

# sound
playsound

# CORS
flask-cors

# computer vision
matplotlib
numpy

# Arduino communication
serial
